<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sub_definition)/robots/ucf_robosub.urdf.xacro'"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <include file="$(find sub_bringup)/launch/include/sensors.launch.xml" />  
</launch>
