<?xml version="1.0"?>
<model>
  <name>ucf_submarine_simple</name>
  <version>1.0</version>
  <sdf version="1.5">ucf_submarine_simple.sdf</sdf>

  <author>
   <name>Nick</name>
   <email>me@my.email</email>
  </author>

  <description>
    A torpedo. It goes forward and floats in water
  </description>
</model>
