<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robosub_gazebo_interface)/worlds/simulate_empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robosub_gazebo_interface)/models/ucf_robosub_simple/ucf_submarine_simple.sdf -sdf -z 1 -model ucf_submarine_simple" />
  <include file="$(find sub_joystick_control)/launch/dualjoy.launch">
  </include>
</launch>
