<?xml version="1.0"?>
<robot name="ucf_robosub" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find ucf_sub_definition)/urdf/sub_body.urdf.xacro"/>
    <xacro:include filename="$(find ucf_sub_definition)/urdf/sub_thruster.urdf.xacro"/>
    <xacro:include filename="$(find ucf_sub_definition)/urdf/sub_arm.urdf.xacro"/>
    <xacro:include filename="$(find ucf_sub_definition)/urdf/vision_cam.urdf.xacro"/>
    <sub_body />
    <sub_thruster identifier="topStrafe" parent="base_link" xPos="0.0" yPos="0.0" zPos="-0.1542" roll="3.141" pitch="0.0" yaw="1.571"/>
    <sub_thruster identifier="bottomStrafe" parent="base_link" xPos="0.0" yPos="0.0" zPos="0.1542" roll="0.0" pitch="0.0" yaw="-1.571"/>
    <sub_thruster identifier="leftSurge" parent="base_link" xPos="0.0" yPos="-0.1542" zPos="0.0" roll="1.571" pitch="3.141" yaw="0.0"/>
    <sub_thruster identifier="rightSurge" parent="base_link" xPos="0.0" yPos="0.1542" zPos="0.0" roll="-1.571" pitch="3.141" yaw="0.0"/>
    <sub_thruster identifier="frontVertical" parent="base_link" xPos="0.1968" yPos="0" zPos="0.0" roll="0.0" pitch="-1.571" yaw="0.0"/>
    <sub_thruster identifier="rearVertical" parent="base_link" xPos="-0.1968" yPos="0" zPos="0.0" roll="0.0" pitch="-1.571" yaw="0.0"/>
    <sub_arm identifier="right" parent="base_link" xPos="0.359" yPos="0.0878" zPos="0.0509" roll="0.0" pitch="0.0" yaw="0.0"/>
    <sub_arm identifier="left" parent="base_link" xPos="0.359" yPos="-0.0369" zPos="0.0509" roll="0.0" pitch="0.0" yaw="0.0"/>
    <sub_vision_cam identifier="left" parent="base_link" xPos="0.43" yPos="-0.03" zPos="0.0" roll="0.0" pitch="0.0" yaw="0.0"/>
    <sub_vision_cam identifier="right" parent="base_link" xPos="0.43" yPos="0.03" zPos="0.0" roll="0.0" pitch="0.0" yaw="0.0"/>
</robot>
